{% extends 'base.html.twig' %}

{% block title %}Conditions Générales de Vente{% endblock %}

{% block body %}
<div class="container my-5">
    <h1>Conditions Générales de Vente</h1>
    <p>Les informations sur les conditions générales de vente...</p>
</div>
{% endblock %}
