{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}
<div class="container my-5">
    <h1>Mentions Légales</h1>
    <p>Les informations légales de votre site...</p>
</div>
{% endblock %}
