{% extends 'base.html.twig' %}

{% block title %}Politique de Cookies{% endblock %}

{% block body %}
<div class="container my-5">
    <h1>Politique de Cookies</h1>
    <p>Les informations sur l'utilisation des cookies...</p>
</div>
{% endblock %}
