{% extends 'base.html.twig' %}

{% block title %}Politique de Confidentialité
{% endblock %}

{% block body %}
	<div class="container my-5">
		<h1>Politique de Confidentialité</h1>
		<p>Version du : 05/12/2023</p>

		<h2>
			<strong>Préambule</strong>
		</h2>
		<p>La société AMH ANTONELLE MANAGEMENT HOLDING, SARL au capital de 10 200 000 euros, dont le siège social est situé au 100 avenue du Général Leclerc, 93500 Pantin, immatriculée au RCS de Bobigny sous le numéro 483 162 855 (ci-après désignée « Franouk » ou « Nous ») attache une grande importance à la confidentialité des données de ses utilisateurs sur Internet.</p>

		<p>La présente politique de confidentialité (la « Politique ») mise en place par Franouk s’applique à l’ensemble des services proposés aux personnes utilisant ou naviguant (ci-après les « Utilisateurs » ou « vous ») sur le site www.franouk.fr (ci-après le « Site »).</p>

		<p>La Politique a pour objet de vous informer sur la façon dont sont traitées vos Données personnelles collectées à travers les services accessibles depuis notre Site, dans le strict respect des dispositions législatives et réglementaires en vigueur, notamment la Loi Informatique et Libertés du 6 janvier 1978 modifiée (ci-après la « LIL »), ainsi que le Règlement européen sur la protection des données du 27 avril 2016 (le « RGPD »).</p>

		<h2><strong>Champ d'application</strong></h2>
		<p>La Politique s’applique exclusivement à la navigation et à l’utilisation du Site par les Utilisateurs, à l’exclusion de tout site tiers.</p>

		<p>Franouk se réserve le droit de modifier à tout moment cette Politique afin de refléter, par exemple, des modifications relatives aux Traitements mis en œuvre ou pour d’autres raisons légales ou réglementaires. La date présente en haut de cette Politique est la date de dernière mise à jour.</p>
		<h2><strong>Définitions</strong></h2>

		<p>
			<strong>Cookies et traceurs :</strong>
			un “cookie” est une suite d’informations, généralement de petite taille et identifié par un nom, qui peut être transmis à votre navigateur par un site web sur lequel vous vous connectez. Votre navigateur web le conservera pendant une certaine durée, et le renverra au serveur web chaque fois que vous vous y reconnecterez.</p>

		<p>
			<strong>Client :</strong>
			désigne tout Utilisateur de plus de 18 ans procédant à une Commande de Produit sur le Site.</p>

		<p>
			<strong>Commande :</strong>
			désigne achat réalisé par le Client sur le Site.</p>

		<p>
			<strong>Compte :</strong>
			désigne l’espace dédié à l’Utilisateur associé à l’ensemble des Données personnelles fournies par l’Utilisateur, hébergé sur le Site.</p>

		<p>
			<strong>Donnée personnelle :</strong>
			désigne toute information permettant d’identifier directement ou indirectement la Personne concernée.</p>

		<p>
			<strong>Délégué à la protection des données (DPO) :</strong>
			désigne le délégué à la protection des données du Responsable de traitement. Le DPO a pour mission d’informer, de conseiller et de contrôler la conformité de Franouk dans la réalisation des différentes opérations de Traitements. Le DPO fait office de point de contact (i) vis-à-vis des Personnes concernées pour tous sujets relatifs aux Traitements de Données personnelles effectués par Franouk ou l’exercice de leurs droits, (ii) vis-à-vis de la CNIL dans le cadre de sa mission de coopération, (iii) vis-à-vis des autres DPO nommés par les éventuels Sous-traitants.</p>

		<p>
			<strong>Personnes concernées :</strong>
			désigne les personnes concernées par les Traitement réalisés par Franouk en tant que responsable de traitement. Dans le cadre de la Politique, les Personnes concernées sont les Utilisateurs et les Clients.</p>

		<p>
			<strong>Produits :</strong>
			désigne l’ensemble des produits commercialisés par Franouk sur le Site.</p>

		<p>
			<strong>Responsable de traitement :</strong>
			désigne la personne morale qui détermine les finalités et les moyens du Traitement.</p>

		<p>
			<strong>Sous-traitant :</strong>
			désigne toute personne physique ou morale, autorité publique, service ou autre organisme que le Responsable de traitement qui traite les Données personnelles pour le compte du Responsable de traitement.</p>

		<p>
			<strong>Traitement/Traiter :</strong>
			désigne toute opération, ou ensemble d’opérations, portant sur des Données personnelles, quel que soit le procédé utilisé (collecte, enregistrement organisation, conservation adaptation, modification, extraction consultation, utilisation, communication par transmission ou diffusion ou toute autre forme de mise à disposition, rapprochement), effectuée pour le compte et selon les instructions de Franouk.</p>

            <h2><strong>Identité et coordonnées du Responsable de traitement</strong></h2>
    <p>Les Données personnelles des Personnes concernées sont collectées et traitées par Franouk en sa qualité de Responsable du traitement.</p>
    <p>Pour toute question, vous pouvez contacter Franouk :</p>
    <ul>
        <li>Par voie postale à AMH ANTONELLE MANAGEMENT HOLDING, 100 avenue du Général Leclerc, 93500 PANTIN ;</li>
        <li>Par email : relationclient@franouk.fr</li>
    </ul>

    <h2><strong>Coordonnées de notre DPO</strong></h2>
    <p>Pour toutes les demandes, y compris d’exercice de droits, relatives aux Données personnelles des Personnes concernées, celles-ci peuvent joindre le DPO :</p>
    <ul>
        <li>Par mail : dpo@franouk.fr ; et/ou</li>
        <li>Par courrier : AMH ANTONELLE MANAGEMENT HOLDING, DPO, 100 avenue du Général Leclerc, 93500 PANTIN</li>
    </ul>
	</div>
{% endblock %}
