/* Importation des styles Bootstrap */
@import "~bootstrap/scss/bootstrap";

// Importation des Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

// Définition des polices de base
$font-family-base: 'Lora', serif;
$headings-font-family: 'Montserrat', sans-serif;


// NAVIGATION 

.navbar {
    background-color: #f8f9fab6; /* Gris très clair pour la navigation */
}

.nav-link {
    color: black !important; /* Couleur du texte par défaut */
    transition: transform 0.3s; /* Transition fluide */
}

.nav-link:hover {
    transform: scale(1.1); /* Zoom au survol */
}

.btn-outline-success-nav {
    background-color: white; /* Fond blanc */
    border-color: #ff66c4; /* Bordure rose */
    color: #ff66c4; /* Texte rose */
}

.btn-outline-success-nav:hover {
    background-color: #ff66c4; /* Fond rose au survol */
    color: white; /* Texte blanc au survol */
}



// Footer
.footer ul li {
    margin-bottom: 15px; /* Espacement entre les éléments de la liste */
    list-style: none; 
}

.footer ul li a.nav-link {
    color: black; /* Couleur du texte */
    text-decoration: none; /* Suppression du soulignement */
    transition: transform 0.3s; /* Transition fluide */
    display: inline-block; /* Assurez-vous que les liens restent en ligne */
    padding-right: 10px; /* Ajoute un padding droit pour l'espace */
}

.footer ul li a.nav-link:hover {
    transform: scale(1.1); /* Zoom au survol */
}





// Stylisation des liens
a {
    text-decoration: none; /* Suppression du soulignement */
    color: black !important; /* Couleur du texte */
}

// Stylisation du corps de la page
body {
    background-color: #f8f9fab6; /* Couleur de fond */
    font-family: $font-family-base; /* Police de caractères */
}

// Stylisation des titres
h1, h2, h3, h4, h5, h6 {
    font-family: $headings-font-family; /* Police de caractères */
}

/* Fichier public/css/cart.css */
.cart-container {
    width: 80%; /* Largeur du conteneur */
    margin: 0 auto; /* Mise au centre horizontale */
}

.cart-container h2 {
    text-align: center; /* Centrage du texte */
    margin-bottom: 20px; /* Espacement inférieur */
}

table {
    width: 100%; /* Largeur de la table */
    border-collapse: collapse; /* Fusion des bordures de cellules */
}

table, th, td {
    border: 1px solid #ddd; /* Bordures de la table */
}

th, td {
    text-align: left; /* Alignement du texte à gauche */
    padding: 8px; /* Espacement interne */
}

th {
    background-color: #f2f2f2; /* Couleur de fond des en-têtes */
}

.cart-total {
    margin-top: 20px; /* Espacement supérieur */
    text-align: right; /* Alignement du texte à droite */
    font-size: 20px; /* Taille de la police */
}

.custom-margin {
    margin-bottom: 50px; /* Espacement inférieur */
}

// Stylisation des cartes de produits
.card {
    border: none; /* Suppression de la bordure par défaut */
    border-radius: 10px; /* Arrondissement des coins */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ajout d'une ombre */
    transition: transform 0.3s, box-shadow 0.3s; /* Transition fluide */
    
    &:hover {
        transform: translateY(-10px); /* Effet de levitation au survol */
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Renforcement de l'ombre */
    }
    
    .card-img-top {
        border-top-left-radius: 10px; /* Arrondissement coin supérieur gauche de l'image */
        border-top-right-radius: 10px; /* Arrondissement coin supérieur droit de l'image */
    }
    
    .card-body {
        text-align: center; /* Centrage du texte */
        padding: 20px; /* Espacement interne */
    }
    
    .card-title {
        font-family: $headings-font-family; /* Police de caractères */
        font-size: 1.25rem; /* Taille de la police */
        margin-bottom: 0.75rem; /* Espacement inférieur */
    }
    
    .card-text {
        font-family: $font-family-base; /* Police de caractères */
        color: #6c757d; /* Couleur du texte */
        margin-bottom: 1rem; /* Espacement inférieur */
    }
    
    .card-link {
        text-decoration: none; /* Suppression du soulignement */
        color: inherit; /* Couleur par défaut */
        transition: color 0.3s; /* Transition fluide */
        
        &:hover {
            color: #007bff; /* Changement de couleur au survol */
        }
    }
}

/* Stylisation des catégories */
.list-group-item {
    border: none; /* Suppression de la bordure par défaut */
    border-radius: 10px; /* Arrondissement des coins */
    background-color: #f8f9fa; /* Couleur de fond */
    padding: 10px 15px; /* Espacement interne */
    margin-bottom: 10px; /* Espacement inférieur */
    transition: background-color 0.3s; /* Transition de couleur de fond */
    
    &:hover {
        background-color: #e9ecef; /* Changement de couleur de fond au survol */
    }
    
    a {
        text-decoration: none; /* Suppression du soulignement du lien */
        color: #212529; /* Couleur du texte */
        
        &:hover {
            color: #212529; /* Couleur du texte au survol */
        }
    }
}


// Formulaire contact

.form-control {
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

    &:focus {
        border-color: #80bdff;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }
}

.btn-primary {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

    &:hover {
        background-color: #0056b3;
        box-shadow: 0 0 10px rgba(0, 86, 179, 0.5);
    }
}